
<div class="span6 offset3 text-center stolen-surfbox">


	<h1 class="custom-font-1"> Website Attempt Uno
 	</h1>

	<h2 class="custom-font-1"> Firehose Weekend was awesome</h2>

	<h3 class="custom-font-2"> How was yours? </h3>
	<h4 class="custom-font-2">Enter Below</h4>	

	<%= link_to("Launch App", pics_path, :class => 'btn btn-large btn-success') %> 

</div>