
<div class="span6 offset3 text-center stolen-surfbox">


<h1 class="custom-font-1"> Check This Out
 </h1>
<h2 class="custom-font-1"> I'm having a tough time learning to code</h2>

<h3 class="custom-font-2">Started from the bottom</h3>
<h4 class="custom-font-2">Still Nowhere </h4>	

<%= link_to("Launch App", "#", :class => 'btn btn-large btn-success') %> 

</div>