<div class="span6 offset3 my-wrapper stolen-surfbox">
<h1> My Pics </h1>


<% @pics.each do |pic| %>
	<div class="box">
		<h2 class="custom-font-2">
			Hour <%= pic.hour %>
		</h2>
		
		<div>	
			<%= image_tag pic.image %>
		</div>

		<h3 class="custom-font-1">
			I feel <%= pic.emotion %>
		</h3>
		<h3>
			I've learnt <%= pic.learned %>
		</h3>
	</div>
	
<% end %>
</div>