body {
	background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.stolen-surfbox {
box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
background-color: 
rgba(36,32,33,0.50);
padding: 1%;
}


.custom-font-1 {
font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
font-weight: 100;
font-size: 64px;
color: white;
}

.custom-font-3 {
font-family: Arial Bold;
font-weight: 350;
font-size: 20x;
color: yellow;
}

 .custom-font-2 {
font-family: Times New Roman;
font-weight: 500;
font-size: 14px;
color: white;
}

.box h2, .box h3 {
	color:white;	
}

.my-wrapper h1 {
	color:white;
}